*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    height: 100px;
}

.logo{
    width: 75px;
    height: 75px;
    object-fit: contain;
    object-position: center;
   
}
.search-input{
    width: 250px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
}
.search-input:focus{
    outline: none;
     
}

  
.search-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container label{
    font-size: 18px;
 
}