.page-container {
  max-width: 1920px;
  margin: 0 auto;
}


/* ============================================
   600px
   ============================================ */
@media (max-width: 600px) {
   header {
     flex-direction: column;
     height: 200px;
     justify-content: space-around;
   }
   footer {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    /* height: 200px; */
    /* justify-content: space-around; */
   }

   .pokemon-details-content {
    width: 400px;
    height: fit-content;
   }
  }

  /* ============================================
   450px
   ============================================ */
   @media (max-width: 450px) {
  
    * { font-size: 15px; }
 
    .pokemon-details-content {
     width: 300px;
     height: fit-content;
    }

    .stat-value {
      display: none;
    }
    .bottom-section-controll-buttons-arrow{
        width: 40px;
        height: 40px;
    }
    .pokemon-details-top-left h2 {
        font-size: 20px;
    }
   }
/* ============================================
   360px
   ============================================ */
@media (max-width: 360px) {
     .search-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
     
     .search-input {
        width: 100%;
     }

     .pokemon-card {
        width: 90%;
     }
     .pokemon-container {
        width: 100%;
     }
 
}

/* ============================================
   SMALL MOBILE STYLES (bis 480px)
   ============================================ */
@media (max-width: 480px) {
       
 
}
 
 
